.container {
  margin: 60px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.gallery li {
  cursor: pointer;
}

.gallery li:hover {
  transform: scale(1.05);
}
