.container {
  margin: 60px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dupplicated. see Gallery.module.css */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
