/* TODO: clip the bottom of the images in a better way  */
.smCard,
.mdCard {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.smCard {
  height: 220px;
}

.smCard:after,
.mdCard:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

/* Bottom left text */
.smCardText,
.mdCardText {
  position: absolute;
  bottom: 15px;
  left: 12px;
  color: white;
  z-index: 1;
}

.smCardText h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

.mdCardText h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 6px;
}

.smCardText p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
}

.mdCardText p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
